@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
 overflow-x: hidden;
  margin: 0;
}


::-webkit-scrollbar {
  width: 10px; /* Slightly narrower width for a modern look */
  height: 10px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: linear-gradient(135deg, rgba(255, 230, 245, 0.8), rgba(255, 200, 220, 0.8)); /* Soft pink gradient for the track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #ff60a7, #ff2b77); /* Modern pink gradient for the thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #ff2b77, #d91e5e); /* Darker pink gradient when hovering */
}
